.aside {
	max-width: 15%;
	background: #040404;
	color: white;
	flex: 1;
	overflow: hidden;
  &__nav &__nav-item {
    list-style-type: none;
    margin: 0.6em;
    padding: 0.6em;
    &:first-child {
      background: #282828;
    }
  }
  &__logo {
    display: block;
    width: 200px;
    height: 65px;
    background: black;
    min-width: 15vw;
  }
  &__playlist &__playlist-item {
    display: block;
    padding: 0.6em;
  }
}