.aside {
	max-width: 15%;
	background: #040404;
	color: white;
	flex: 1;
	overflow: hidden;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
  &__nav &__item {
    list-style-type: none;
    margin: 0.6em;
    padding: 0.6em;
    &:first-child {
      background: #282828;
    }
  }
  &__logo {
    display: block;
    width: 200px;
    height: 65px;
    background: black;
    min-width: 15vw;
    @media (min-width: 300px) and (max-width: 2000px) {
      width: 100%;
    }
    @media screen and (min-width: 600px) {
      
    }
  }
  &__playlist &__playlist-item {
    display: block;
    padding: 0.6em;
  }
}