.main {
	background: #121212;
	flex: 1;
	overflow-y: scroll;
	height: 100%;
  h2 {
    color: white;
  }
  &__arrows {
    display: flex;
    width: 100%;
    background: #121212;
    position: fixed;
    p {
      border: none;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .7);
      margin: 1em 0.5em;
    }
    &--left, &--right {
      display: inline-block;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      width: 10px;
      height: 10px;
      color: white;
      margin: 0.6em;
    }
    &--left {
      transform: rotate(-45deg);
    }
    &--right {
      transform: rotate(135deg);
    }
  }
}