/* --- General styles --- */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Circular Spotify Tx T Black";
	text-align: center;
	display: flex;
	height: 100vh;
}

/* --- Aside content --- */

aside {
	max-width: 15%;
	background: #040404;
	color: white;
	flex: 1;
	overflow: hidden;
}

aside nav li {
	list-style-type: none;
	margin: 0.6em;
	padding: 0.6em;
}

aside nav li:first-child {
	background: #282828;
}

aside .spotify-logo {
	display: block;
	width: 200px;
	height: 65px;
	background: black;
	min-width: 15vw;
}

.playlist-container span {
	display: block;
	padding: 0.6em;
}

/* --- Aside content end --- */

/* --- Main content --- */

main {
	background: #121212;
	flex: 1;
	overflow-y: scroll;
	height: 100%;
}

main h2 {
	color: white;
}

.arrow-header {
	display: flex;
	width: 100%;
	background: #121212;
	position: fixed;
}

.arrow-header p {
	border: none;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .7);
	margin: 1em 0.5em;
}

.arrow-header .left, .right {
	display: inline-block;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	width: 10px;
	height: 10px;
	color: white;
	margin: 0.6em;
}

.arrow-header .left {
	transform: rotate(-45deg);
}

.arrow-header .right {
	transform: rotate(135deg);
}

/* --- Song cards --- */

.recently-played {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}


.recently-played:nth-of-type(1) {
	margin-top: 3.2em;
}

.recently-played [class*="card"] {
	width: 180px;
	height: 240px;
	margin: 1em;
	background: #282828;
	color: white;
	border-radius: 3%;
	font-weight: bold;
	position: relative;
	transition: background-color .3s linear;
}

.recently-played [class*="card"]:hover {
	background-color: #333232;
	transition: background-color .3s linear;
}

.recently-played .artist-details {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: .2em .5em;
	font-size: 0.9em;
}

.recently-played .artist-details a {
	text-decoration: none;
	color: white;
	display: block;
	margin-bottom: 0.4em;
	font-weight: 900;
}

.recently-played .play-button {
	height: 40px;
	border-radius: 50%;
	background-color: #1db954;
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: none;
	width: 40px;
	margin-right: 0;
	position: absolute;
	top: 70px;
	left: 75px;
	transition: transform .3s linear;
}

.recently-played [class*="card"]:hover .play-button {
	transform: scale(1.06);
	transition: transform .3s linear;
	cursor: pointer;
	display: inline;
}

.recently-played img {
	display: block;
	height: 140px;
	margin: 1em auto 0;
}

.recently-played a {
	margin-top: 1em;
	flex-basis: 100%;
}

.recently-played span {
	font-size: 0.8em;
	margin-bottom: 1em;
	color: white;
	letter-spacing: normal;
	font-weight: 500;
}

/* --- Song cards end --- */

/* --- Main content end --- */

/* --- Footer --- */

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-width: 15vw;
	height: 100px;
	padding: 1rem;
	background: #282828;
	color: white;
}

.song-info {
	display: flex;
	align-items: center;
	color: #fff;
	padding: 2px;
}

.song-info img {
	height: 60px;
	width: 60px;
	margin-right: 30px;
	object-fit: contain;
}

.artist-container {
	display: flex;
	flex-direction: column;
	margin-right: 20em;
}

.song-name {
	font-weight: bold;
	margin-bottom: 5px;
}

.player-controls {
	width: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.player-controls span, .additional-controls span {
	height: 26px;
	width: 26px;
	margin-left: 1.5em;
}

.shuffle {
	background: url('https://api.iconify.design/radix-icons:shuffle.svg?color=white') no-repeat center center / contain;;
	width: 25px;
	margin-left: 0;
}

.previous-song {
	background: url('https://api.iconify.design/ic:baseline-skip-previous.svg?color=white') no-repeat center center / contain;
}

.next-song {
	background: url('https://api.iconify.design/ic:baseline-skip-next.svg?color=white') no-repeat center center / contain;
}

.play-pause-song {
	background: url('https://api.iconify.design/carbon:pause-outline.svg?color=white') no-repeat center center / contain;
}

.repeat-song {
	background: url('https://api.iconify.design/ion:repeat-outline.svg?color=white') no-repeat center center / contain;
}

.additional-controls {
	width: 25vw;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.queue-song {
	background: url('https://api.iconify.design/ic:twotone-queue-music.svg?color=white') no-repeat center center / contain;
	height: 30px;
	width: 30px;
	margin-left: 1.5em;
}

.connect-device {
	background: url('https://api.iconify.design/bi:music-player.svg?color=white') no-repeat center center / contain;
}

.sound-volume {
	background: url('https://api.iconify.design/bi:volume-down.svg?color=white') no-repeat center center / contain;
}


/* --- Footer end --- */

/* --- Media queries --- */

@media only screen and (max-width: 1000px) {
	aside {
		max-width: 35%;
	}

	aside .spotify-logo {
		min-width: 35vw;
	}
}

/* --- end of Media queries --- */
